.facolor {
    color: white;
}

header {
    background-color: #445162;

}

header h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 46px;
    color: white;
    margin-top: 50px;
}

header p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
}

.navStyle {
    
    margin: 50px 0px 0px 0px;
    
}

